@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #97c5f0;

  color: #1f2a30;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.class-header.is-open .class-header-background {
  left: 0;
}
.class-header-button-wrapper {
  margin-left: auto;
}
.class-header-icon {
  display: none;
}

.class-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.class-navigation-list.is-open {
  right: 0;
}
.class-header-icon-menu {
  display: block;
}

.class-header-icon-button.is-open .class-header-icon-menu {
  display: none;
}

.class-header-icon-button.is-open .class-header-icon-close {
  display: block;
}

.class-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #297d17;
  box-shadow: 4px 7px 9px 0px #00000040;
}

.class-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #297d17;
  box-shadow: 4px 7px 9px 0px #00000040;
}
.class-header.is-open .class-header-background {
  left: 0;
}
.class-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-header-icon-menu {
  display: block;
}

.class-header-icon-button.is-open .class-header-icon-menu {
  display: none;
}

.class-header-icon-button.is-open .class-header-icon-close {
  display: block;
}

.class-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.class-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #ffc16b;
}

.class-navigation-list.is-open {
  right: 0;
}

.class-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #482600;
}

.class-navigation-link:hover,
.class-navigatioт-link:focus {
  color: #297d17;
}

.class-header.is-open {
  background-color: transparent;
}

.class-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .class-navigation-img {
    display: block;
  }
  .class-policy-terms-header-icon-menu {
    display: none;
  }
  .class-header-button-wrapper {
    display: none;
  }
  .class-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .class-header-icon-button {
    display: none;
  }
  .class-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .class-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .class-navigation-link {
  }

  .class-navigation-link:hover,
  .class-navigation-link:focus {
  }

  .class-navigation-item-desk {
    display: none;
  }
}

.class-home {
  width: 375px;

  margin: 0px auto 0;
  padding-top: 42px;
}
.class-home-container {
  width: 335px;
  height: 719px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home\ mobile.png");

  margin: auto;
}

.class-home-container-top {
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.class-home-title-img {
  width: 335px;
  height: 312px;
}

.class-home-link {
  transition: all 0.3s ease-in-out;
}
.class-home-img {
  width: 243px;
  height: 70px;
}

.class-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
  .class-home {
    width: 1440px;

    margin: 0px auto 0;
    padding-top: 0px;
  }
  .class-home-container {
    width: 1440px;
    height: 823px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Home.png");

    margin: auto;
  }

  .class-home-container-top {
    padding: 148px 926px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }
  .class-home-title-img {
    width: 434px;
    height: 405px;
  }
}
.class-about {
  margin: auto;
  width: 375px;
  padding: 119px 20px 0;
}
.class-about-container {
  width: 335px;
  height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ game.png");

  margin: auto;
}
.class-about-title {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;

  background: linear-gradient(351.46deg, #fd7815 6.95%, #edd242 68.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.class-about-title-two {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 32px 0 333px;
}
.class-about-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.class-about-text-bold {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .class-about {
    margin: auto;
    width: 1440px;
    padding: 150px 80px 0;
  }
  .class-about-container {
    width: 1280px;
    height: 293px;

    background-image: url("/img/About\ Section.png");

    margin: auto;
  }

  .class-about-title-two {
    padding: 38px 0 16px;
  }
  .class-about-text-left {
    text-align: left;
    width: 630px;
  }
}
.class-why {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}

.class-why-container {
  width: 375px;
  height: 448px;
  margin: auto;
  padding: 0 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ play.png");
}
.class-why-list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.class-why-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.class-why-img {
  width: 24px;
}
.class-why-text-bold {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-family: "Baloo 2", sans-serif;
}
.class-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .class-why {
    margin: auto;
    width: 1440px;
    padding: 150px 0 0;
  }

  .class-why-container {
    width: 1280px;
    height: 324px;
    margin: auto;
    padding: 0 82px;

    background-image: url("/img/How\ to\ play\ \(1\).png");
  }
  .class-why-list {
    padding-top: 101px;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .class-why-item {
    width: 305px;
  }
  .class-why-img {
    width: 24px;
  }
  .class-why-text-bold {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-family: "Baloo 2", sans-serif;
  }
  .class-why-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

.class-uniqueness {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}
.class-uniqueness-container {
  margin: auto;
  width: 335px;
  height: 1293px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Tools\ section.png");
}
.class-uniqueness-text {
  font-family: "Baloo 2", sans-serif;
  padding: 357px 0 16px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.class-uniqueness-text-two {
  padding-left: 69px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.class-uniqueness-list {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.class-uniqueness-item {
}
.class-uniqueness-img {
}
.class-uniqueness-text-bold {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 4px;
}
.class-uniqueness-text-three {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .class-uniqueness {
    margin: auto;
    width: 1440px;
    padding: 150px 80 0;
  }
  .class-uniqueness-container {
    margin: auto;
    width: 1280px;
    height: 598px;

    background-image: url("/img/Tools\ section\ \(1\).png");
  }
  .class-uniqueness-text {
    font-family: "Baloo 2", sans-serif;
    padding: 38px 0 28px 650px;
    text-align: left;
  }
  .class-uniqueness-text-two {
    padding-left: 650px;
  }
  .class-uniqueness-list {
    padding-left: 650px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
  }

  .class-uniqueness-text-three {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 28px;
    padding-left: 650px;
    padding-right: 108px;
  }
}
.class-how {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}
.class-how-container {
  margin: auto;
  width: 355px;

  height: 985px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Level\ progression.png");
}
.class-how-text-bold {
  font-family: "Baloo 2", sans-serif;

  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 391px 0 20px;
}

.class-how-text {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.class-how-list {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.class-how-item {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  width: 335px;
  height: 52px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Container\ \(1\).png");
}

@media screen and (min-width: 1200px) {
  .class-how {
    margin: auto;
    width: 1440px;
    padding: 150px 0 0;
  }
  .class-how-container {
    margin: auto;
    width: 1280px;

    height: 633px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Leven\ progression.png");
  }
  .class-how-text-bold {
    padding: 38px 217px 80px;
  }

  .class-how-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .class-how-item {
    width: 414px;
    height: 44px;

    padding: 10px;

    background-image: url("/img/Container\ \(2\).png");
  }
}

.class-characters {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img");
}
.class-characters-container {
  padding: 0px 16px;
  margin: auto;
  width: 375px;
}
.class-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: px;
  gap: px;
}
.class-characters-item {
}
.class-characters-img {
}
.class-characters-text-bold {
}

.class-characters-text {
}

@media screen and (min-width: 1200px) {
  .class-characters {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-characters-container {
    padding: px;
    margin: auto;
    width: 1440px;
  }
}

.class-reviews {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img");
}
.class-reviews-container {
  margin: auto;
  padding: 0px 16px 0;
  width: 375px;
}
.class-reviews-list {
  padding: 0;
}

.class-reviews-item {
  margin: 0 5px;
}

.class-reviews-item-top {
  display: flex;
  gap: px;
  align-items: center;
}
.class-reviews-img {
}
.class-reviews-text-bold {
}

.class-reviews-text {
}

@media screen and (min-width: 1200px) {
  .class-reviews {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-reviews-container {
    margin: auto;
    padding:;
    width: 1440px;
  }
}

.class-faq {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img");
}
.class-faq-container {
  padding: 0px 16px 0px;
  width: 375px;
  margin: auto;
}
.class-faq-list {
  padding-top: px;
  display: flex;
  flex-direction: column;
  gap: px;
}

.class-faq-item {
}

.class-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-faq-answer {
}
.class-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.class-toggle-button img {
  transition: transform 0.3s ease;
}
.class-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.class-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.class-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .class-faq {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-faq-container {
    padding:;
    width: 1440px;
    margin: auto;
  }
}
.class-gallery {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img");
}
.class-gallery-container {
  width: 375px;
  margin: auto;
  padding: px;
}
.class-gallery-list {
  width: auto;
  padding-top: 65px;
  margin: auto;
}

.class-gallery-item {
  width: 343px;
  height: 610px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.class-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.class-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .class-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .class-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .class-gallery-button-icon {
  }
  .class-gallery-button:hover {
    scale: 120%;
  }

  .class-gallery {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-gallery-container {
    width: 1440px;
    margin: auto;
    padding: px;
  }
  .class-gallery-item {
    width: 406px;
    height: 721.78px;
    margin: 0 10px;
  }

  .class-gallery-list {
  }
}

.class-features {
  margin: auto;
  width: 375px;
  height: px;
  background-image: url("/img");
}
.class-features-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px 89px;
}
.class-features-list {
  padding-top: px;
  display: flex;
  flex-direction: column;
  gap: px;
}

.class-features-item {
}

.class-features-img {
}

.class-features-text-bold {
}

.class-features-text {
}

@media screen and (min-width: 1200px) {
  .class-features {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-features-container {
    width: 1440px;
    margin: auto;
    padding: px;
  }
}

.class-policy-terms-container {
  padding: 126px 20px 80px;
  width: 375px;
  margin: auto;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.class-policy-terms-container h1 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(351.46deg, #fd7815 6.95%, #edd242 68.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}
.class-policy-terms-container h2 {
  margin: top 20px;
  padding-top: 20px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.class-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.class-email-link {
  color: inherit;
  text-decoration: none;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .class-policy-terms-container {
    padding: 102px 180px 100px;
    width: 1440px;
  }
  .class-policy-terms-container h1 {
    font-family: Baloo 2;
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }
}

.class-footer-container {
  width: 375px;
  padding: 33px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 18px;
}

.class-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.class-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.class-footer-copyright {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .class-footer-container {
    width: 1440px;
    padding: 46px 180px;

    flex-direction: column;

    align-items: center;
    gap: 50px;
  }

  .class-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 285px;
  }

  .class-footer-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .class-footer-copyright {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.class-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(149, 49, 133, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  z-index: 1000;
  display: none;
}

.class-cookie-popup-text-two {
  color: rgba(87, 78, 68, 1);
}

.class-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.class-cookie-button {
  border: none;
  background-color: transparent;
}

#accept-cookies {
}

.class-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .class-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .class-cookie-popup-text-two {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 648px;
  }

  .class-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .class-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
