@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #97c5f0;

  color: #1f2a30;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.i-v-header.is-open .i-v-header-background {
  left: 0;
}
.i-v-header-button-wrapper {
  margin-left: auto;
}
.i-v-header-icon {
  display: none;
}

.i-v-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-v-navigation-list.is-open {
  right: 0;
}
.i-v-header-icon-menu {
  display: block;
}

.i-v-header-icon-button.is-open .i-v-header-icon-menu {
  display: none;
}

.i-v-header-icon-button.is-open .i-v-header-icon-close {
  display: block;
}

.i-v-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
  background: transparent;
}

.i-v-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: transparent;
  background: #edd242;
}
.i-v-header.is-open .i-v-header-background {
  left: 0;
}
.i-v-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-v-header-icon-menu {
  display: block;
}

.i-v-header-icon-button.is-open .i-v-header-icon-menu {
  display: none;
}

.i-v-header-icon-button.is-open .i-v-header-icon-close {
  display: block;
}

.i-v-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.i-v-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 66px 0px 66px 128px;

  gap: 26px;
  background: linear-gradient(351.46deg, #fd7815 6.95%, #edd242 68.75%);
}

.i-v-navigation-list.is-open {
  right: 0;
}

.i-v-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #1f2a30;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  display: inline-block;
  transition: transform 0.3s ease;
}

.i-v-navigation-link:hover,
.i-v-navigatioт-link:focus {
  transform: scale(1.1);
}

.i-v-header.is-open {
  background-color: transparent;
}

.i-v-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .i-v-navigation-img {
    display: block;
  }
  .i-v-policy-terms-header-icon-menu {
    display: none;
  }
  .i-v-header-button-wrapper {
    display: none;
  }
  .i-v-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .i-v-header-icon-button {
    display: none;
  }
  .i-v-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .i-v-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 58px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .i-v-navigation-item-desk {
    display: none;
  }
}

.i-v-home {
  width: 375px;

  margin: 0px auto 0;
  padding-top: 42px;
}
.i-v-home-container {
  width: 335px;
  height: 719px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home\ mobile.png");

  margin: auto;
}

.i-v-home-container-top {
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.i-v-home-title-img {
  width: 335px;
  height: 312px;
}

.i-v-home-link {
  transition: all 0.3s ease-in-out;
}
.i-v-home-img {
  width: 243px;
  height: 70px;
}

.i-v-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1201px) {
  .i-v-home {
    width: 1440px;

    margin: 0px auto 0;
    padding-top: 0px;
  }
  .i-v-home-container {
    width: 1440px;
    height: 823px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Home.png");

    margin: auto;
  }

  .i-v-home-container-top {
    padding: 148px 926px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }
  .i-v-home-title-img {
    width: 434px;
    height: 405px;
  }
}
.i-v-about {
  margin: auto;
  width: 375px;
  padding: 119px 20px 0;
}
.i-v-about-container {
  width: 335px;
  height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ game.png");

  margin: auto;
}
.i-v-about-title {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;

  background: linear-gradient(351.46deg, #fd7815 6.95%, #edd242 68.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.i-v-about-title-two {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 32px 0 333px;
}
.i-v-about-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-v-about-text-bold {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-v-about-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .i-v-about {
    margin: auto;
    width: 1440px;
    padding: 150px 80px 0;
  }

  .i-v-about-container {
    width: 1280px;
    height: 293px;
    position: relative;
    background-image: url("/img/About\ Section.png");

    margin: auto;
  }
  .i-v-about-img {
    display: block;
    position: absolute;
    bottom: -18px;
    right: 392px;
  }
  .i-v-about-title-two {
    padding: 38px 0 16px;
  }
  .i-v-about-text-left {
    text-align: left;
    width: 630px;
  }
}
.i-v-why {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}

.i-v-why-container {
  width: 375px;
  height: 448px;
  margin: auto;
  padding: 0 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ play.png");
}
.i-v-why-list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.i-v-why-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-v-why-img {
  width: 24px;
}
.i-v-why-text-bold {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-family: "Baloo 2", sans-serif;
}
.i-v-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .i-v-why {
    margin: auto;
    width: 1440px;
    padding: 150px 0 0;
  }

  .i-v-why-container {
    width: 1280px;
    height: 324px;
    margin: auto;
    padding: 0 82px;

    background-image: url("/img/How\ to\ play\ \(1\).png");
  }
  .i-v-why-list {
    padding-top: 101px;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .i-v-why-item {
    width: 305px;
  }
  .i-v-why-img {
    width: 24px;
  }
  .i-v-why-text-bold {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-family: "Baloo 2", sans-serif;
  }
  .i-v-why-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

.i-v-uniqueness {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}
.i-v-uniqueness-container {
  margin: auto;
  width: 335px;
  height: 1293px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Tools\ section.png");
}
.i-v-uniqueness-text {
  font-family: "Baloo 2", sans-serif;
  padding: 357px 0 16px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.i-v-uniqueness-text-two {
  padding-left: 69px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-v-uniqueness-list {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.i-v-uniqueness-item {
}
.i-v-uniqueness-img {
}
.i-v-uniqueness-text-bold {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 4px;
}
.i-v-uniqueness-text-three {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .i-v-uniqueness {
    margin: auto;
    width: 1440px;
    padding: 150px 80 0;
  }
  .i-v-uniqueness-container {
    margin: auto;
    width: 1280px;
    height: 598px;
    position: relative;
    background-image: url("/img/Tools\ section\ \(1\).png");
  }
  .i-v-uniqueimg {
    display: block;
    position: absolute;
    bottom: 107px;
    right: 738px;
  }
  .i-v-uniqueness-text {
    font-family: "Baloo 2", sans-serif;
    padding: 38px 0 28px 650px;
    text-align: left;
  }
  .i-v-uniqueness-text-two {
    padding-left: 650px;
  }
  .i-v-uniqueness-list {
    padding-left: 650px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
  }

  .i-v-uniqueness-text-three {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 28px;
    padding-left: 650px;
    padding-right: 108px;
  }
}
.i-v-how {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}
.i-v-how-container {
  margin: auto;
  width: 355px;

  height: 985px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Level\ progression.png");
}
.i-v-how-text-bold {
  font-family: "Baloo 2", sans-serif;

  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 391px 0 20px;
}

.i-v-how-text {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.i-v-how-list {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i-v-how-item {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  width: 335px;
  height: 56px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Container\ \(1\).png");
}

@media screen and (min-width: 1200px) {
  .i-v-how {
    margin: auto;
    width: 1440px;
    padding: 150px 0 0;
  }
  .i-v-how-container {
    margin: auto;
    width: 1280px;

    height: 633px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Leven\ progression.png");
  }
  .i-v-how-text-bold {
    padding: 38px 217px 80px;
  }

  .i-v-how-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .i-v-how-item {
    width: 414px;
    height: 50px;

    padding: 10px;

    background-image: url("/img/Container\ \(2\).png");
  }
}

.i-v-characters {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}
.i-v-characters-container {
  padding: 20px 7px 0;
  margin: auto;
  width: 349px;
  height: 567px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Why\ Players\ Enjoy\ It\ \(1\).png");
}
.i-v-characters-title {
  padding: 0 20px;
}
.i-v-characters-text-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 200px 0 16px;
}

.i-v-characters-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .i-v-characters {
    margin: auto;
    width: 1440px;
    padding-top: 150px;
  }
  .i-v-characters-container {
    padding: 36px 108px 0;
    margin: auto;
    width: 1294px;
    height: 310px;

    background-image: url("/img/Why\ Players\ Enjoy\ It\ \(2\).png");
  }
  .i-v-characters-title {
    padding: 0 0px;
    text-align: left;
  }
  .i-v-characters-text-bold {
    padding: 30px 0 20px;
  }
  .i-v-characters-t {
    text-align: left;
    width: 506px;
  }
}

.i-v-faq-container {
  padding: 80px 20px 0px;
  width: 375px;
  margin: auto;
}
.i-v-faq-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.i-v-faq-item {
}

.i-v-faq-question {
  padding: 8px 12px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 4px;
  width: 335px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("/img/Header.png");
}

.i-v-faq-answer {
  margin-bottom: -10px;
}
.i-v-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.i-v-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.i-v-faq-answer {
  background: #b4dbff;

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
  border: 1px solid #fd7815;

  border-radius: 12px;

  padding: 8px;
}

.i-v-faq-answer.open {
  max-height: 200px;
  opacity: 1;

  margin-bottom: 16px;
}

.i-v-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .i-v-faq-container {
    padding: 150px 405px 0;
    width: 1440px;
    margin: auto;
  }
  .i-v-faq-list {
    padding-top: 30px;
  }

  .i-v-faq-item {
  }

  .i-v-faq-question {
    padding: 8px 12px;

    width: 630px;

    background-image: url("/img/Header\ \(2\).png");
  }
  .i-v-faq-answer {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      opacity 0.4s ease;
    opacity: 0;
    border: 1px solid #fd7815;

    border-radius: 12px;

    padding: 12px 20px;
  }
}

.i-v-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.i-v-gallery-list {
  width: auto;
  padding-top: 32px;
}

.i-v-gallery-item {
  width: 197px;
  height: 350px;
  border-radius: 12px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.i-v-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.i-v-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .i-v-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .i-v-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .i-v-gallery-button-icon {
    width: 36px;
    height: 72px;
  }
  .i-v-gallery-button:hover {
    scale: 120%;
  }

  .i-v-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }
  .i-v-gallery-item {
    width: 197px;
    height: 350px;
  }

  .i-v-gallery-list {
    padding: 38px 0 24px;
  }
}

.i-v-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px;
}

.i-v-features-text-bold {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 32px 0 16px;
}

.i-v-features-text {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  display: block;
}

@media screen and (min-width: 1200px) {
  .i-v-features-container {
    width: 1440px;
    margin: auto;
    padding: 150px 297px;
  }
  .i-v-features-text-bold {
    padding: 38px 0 24px;
  }
}

.i-v-policy-terms-container {
  padding: 126px 20px 80px;
  width: 375px;
  margin: auto;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-v-policy-terms-container h1 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(351.46deg, #fd7815 6.95%, #edd242 68.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}
.i-v-policy-terms-container h2 {
  margin: top 20px;
  padding-top: 20px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-v-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.i-v-email-link {
  color: inherit;
  text-decoration: none;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .i-v-policy-terms-container {
    padding: 102px 180px 100px;
    width: 1440px;
  }
  .i-v-policy-terms-container h1 {
    font-family: Baloo 2;
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }
}

.i-v-footer-container {
  width: 375px;
  padding: 33px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 18px;
}

.i-v-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.i-v-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.i-v-footer-copyright {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .i-v-footer-container {
    width: 1440px;
    padding: 46px 180px;

    flex-direction: column;

    align-items: center;
    gap: 50px;
  }

  .i-v-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 285px;
  }

  .i-v-footer-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .i-v-footer-copyright {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.i-v-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 38px 16px 110px;

  background: linear-gradient(351.46deg, #fd7815 6.95%, #edd242 68.75%);

  z-index: 1000;
  display: none;
}

.i-v-cookie-popup-text-two {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.i-v-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.i-v-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #1f2a30;
  width: 295px;
  height: 72px;
  border-radius: 40px;
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  border-width: 1px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  background: #1f2a30;
  color: #edd242;
}

.i-v-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .i-v-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
  }

  .i-v-cookie-popup-text-two {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .i-v-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .i-v-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 34px;
    display: none;
  }
}
